* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cairo", sans-serif;
}


/*==========================
HEADER CONTAINER
==========================*/

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#menu-btn,
#close-btn {
   display: none;
    cursor: pointer;
}



/*==========================
HEADER
==========================*/

header {
    position: relative;
    height: 95px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    overflow: hidden;
}

.logo a {
    text-decoration: none;
    color: #000;
    font-family: "Oi";
    font-size: 32px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 55px;
    padding-left: 100px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    right: 0;
    width: 0;
    height: 2px;
    background: #000;
    transition: .3s;
}

nav a:hover::after {
    width: 100%;
}

/*==========================
BADGE
==========================*/

.badge {
    position: absolute;
    left: 40px;
    top: -8px;
}

.badge img {
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    transform: rotate(10deg);
}

/*==========================
RESPONSIVE
==========================*/
@media(max-width: 900px) {
   

   

    header {
        height: 70px;
        padding: 0 20px;
    }

    .logo a {
        font-size: 24px;
    }

    /* Hamburger */
    #menu-btn {
        display: block;
        font-size: 30px;
        color: #000;
        z-index: 1002;
    }

    /* Mobile Menu */
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 85%;
        height: 100vh;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .4s;
        box-shadow: -5px 0 15px rgba(0,0,0,.15);
        z-index: 1001;
    }

    nav.active {
        right: 0;
    }

    #close-btn {
        display: block;
        position: absolute;
        top: 25px;
        left: 25px;
        font-size: 30px;
    }

    nav ul {
        flex-direction: column;
        gap: 35px;
    }

    nav a {
        font-size: 22px;
    }

    .badge {
        display: none;
    }

}
